h1{
  text-align: center;
}
button{
  text-align: center;
}

a{
  text-decoration: none;
}

#s4upic{
  height: 100px;
  width: 190px;
}

#eml{
  width: 500px;
}

#pss{
  width: 500px;
}

#form{
  text-align: center;
}
